<html>
<head>
  <title>Toodles</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <main>
    <h1>Toodles - To-do demo</h1>
    <section id="app">
      <form action="" class="new" v-on:submit.prevent="addNew">
        <input type="text" class="new-name" v-model="newTodoDescr">
        <button class="new-add btn">Add</button>
      </form>
      <ul class="tasks">
        <li v-for="task in tasks" v-bind:class="{ done: task.isDone }"><label><input type="checkbox" v-model="task.isDone">{{task.descr}}</label></li>
      </ul>
    </section>
  </main>
  <script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>
